In [26]:
import mysql.connector
import pandas as pd
from openpyxl import load_workbook
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
from urllib.request import urlopen, urlretrieve
import re
def my_function(df):
    mydb=mysql.connector.connect(host='localhost',user='root',password='Yash2001!',database='MYDATABASE')
    cursor=mydb.cursor()
    query1 = ("INSERT INTO Banks(BankName)"
       "VALUES (%s)")
    query2=("Insert into Bank_Month_Data(ATMOn,ATMOff,POSOn,POSOff,MicroATM,QR,CC,CC_ATM,CC_POS,CC_ATM_V,CC_POS_V,DC,DC_ATM,DC_POS,DC_ATM_V,DC_POS_V) "
          "Values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")
    df=df.dropna(axis=1,how='all')
    try:
        df=df.drop("Unnamed: 0",axis=1)
    except:
        pass
    df=df.dropna(axis=0,how='any')
    df = df[~df['Unnamed: 1'].isin(['Total'])]
    df['Unnamed: 1'] = df["Unnamed: 1"].str.upper()
    name=df['Unnamed: 1']
    n=len(name)
    data1=[]
    data1=name
    df['Unnamed: 1'].to_excel("df1.xlsx",index=False)
    df2=load_workbook("df1.xlsx")
    df3=df2.active
    data=[]
    for row in df3.iter_rows(min_row=2, max_row=n+1, values_only=True):
        data.append(row)
    for x in data:
        try:
            cursor.execute(query1,x)
            mydb.commit()

        except:
            pass
    mydb.rollback()
    mydb.close()
    mydb=mysql.connector.connect(host='localhost',user='root',password='Yash2001!',database='MYDATABASE')
    cursor=mydb.cursor()
    sql = "SELECT * FROM Banks order by ID"
    cursor.execute(sql)
    rows = cursor.fetchall()
    dataf=[]
    for row in rows:
        dataf.append(row)
    #dictionary with key bankname value iD
    diction={}
    key=[]
    value=[]
    for ite in dataf:
        key.append(ite[1])
        value.append(ite[0])
    diction=dict(zip(key,value))
    for q in data1:
        x=diction[q]
        sql1=("Insert into Bank_Months( Month,Year,Banks_ID) Values(%s,%s,%s)") 
        data=(temp_month,temp_year,x)
        cursor.execute(sql1,data)
        mydb.commit()
    mydb.close()
    mydb=mysql.connector.connect(host='localhost',user='root',password='Yash2001!',database='MYDATABASE')
    cursor=mydb.cursor()
    df=df.drop("Unnamed: 1",axis=1)
    df.to_excel("df1.xlsx",index=False)
    from openpyxl import load_workbook
    df2=load_workbook("df1.xlsx")
    df3=df2.active
    data_month=[]
    for row in df3.iter_rows(min_row=2, max_row=n+1, values_only=True):
        data_month.append(row)
    cursor.executemany(query2,data_month )
    mydb.commit()
    mydb.close()
def graph():
    cc=[]
    dc=[]
    xentry=[]
    query="""Select CC,CC_ATM_V,CC_POS_V,DC,DC_ATM_V,DC_POS_V From Banks as A , Bank_Months as B, Bank_Month_Data as C where A.ID=B.Banks_ID and B.Sr_No=C.Sr_Num and Month = %s and Year= %s """
    for b in range(temp_month-5,temp_month+1):
        if(b<1):
            mo=b+12
            ye=temp_year-1
        else:
            mo=b
            ye=temp_year
        st=str(mo)+'-'+str(ye)
        xentry.append(st)
        cursor.execute(query,(mo,ye,))
        cred=0
        credatm=0
        credpos=0
        debatm=0
        debpos=0
        deb=0
        for x in cursor:
            cred=cred+x[0]
            credatm=credatm+x[1]
            credpos=credpos+x[2]
            deb=deb+x[3]
            debatm=debatm+x[4]
            debpos=debpos+x[5]
        c=(credatm+credpos)/cred
        d=(debatm+debpos)/deb
        cc.append(c)
        dc.append(d)
    fig = plt.figure()
    ax = plt.axes()
    ax.plot(xentry,cc,label='credit');
    ax.plot(xentry,dc,label='debit');
    ax.legend()
    plt.savefig('plot.jpg', dpi=100, bbox_inches='tight')

#call the functions
URL = 'https://www.rbi.org.in/Scripts/ATMView.aspx'
OUTPUT_DIR = ''  # path to output folder, '.' or '' uses current folder

u = urlopen(URL)
try:
    html = u.read().decode('utf-8')
finally:
    u.close()
soup = BeautifulSoup(html, "html.parser")
ink_objs = soup.find_all('a',href=re.compile('XLSX'))
end_urls=[]
for i in range(0,1):
    str_link = str(ink_objs[i])
    start_index = re.search(r"https://",str_link)
    end_index = re.search(r".XLSX",str_link[start_index.span()[0]:len(str_link)])
    end_url = str_link[start_index.span()[0]+0:start_index.span()[0]+end_index.span()[0]]
    end_url=end_url+".XLSX"
datf=pd.read_excel(end_url)
col1=datf['Unnamed: 1']
str=col1[0]
months_master = ('january','feb','march','april','may','june','july','august','september','october','november','december')
month = [i for i in months_master if i in str.lower()]
month=month[0]
from dateutil.parser import parse
temp_month=parse(str, fuzzy=True).month
temp_year=parse(str,fuzzy=True).year
my_function(#datf)